{% extends 'layouts/base.html' %}

{% block title %}Start App{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-5">
      <h2>Launch Application</h2>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-3">
        <a href="{{ url_for('/dashboard/') }}"
           class="btn btn-primary">
           Generate Load Profiles
        </a>
      </div>
      <div class="col-md-3">
        <a href="{{ url_for('/dashboard/') }}"
           class="btn btn-primary">
           Simulate System
        </a>
      </div>
    </div>
{% endblock %}
