Flask
Flask-RESTful
Flask-Cors

# Application server for both development and production.
gunicorn

#Dash
dash
dash-bootstrap-components

# Testing and static analysis.
pytest

#Database
Flask-SQLAlchemy
SQLAlchemy
# psycopg2

# Forms.
Flask-WTF
WTForms-Components
WTForms-Alchemy

# This line is different than what's on video but we do cover this update in
# more detail in the October 2019 update video.
redis
celery


# Extensions.
Flask-Login

# app
astral
pandas
numpy
pvlib==0.9.0
geopy
psutil
chart-studio
