body {
    font-family: "Open Sans", sans-serif;
    background-color: #061E44;
    color: #DFE3E8;
}

.graph__container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

.wind__speed__container {
    display: flex;
    flex-direction: column;
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



/* Tabs */

.custom-tabs-container {
    width: 100%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #082255;
    padding: 0px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #082255 !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: #DFE3E8 !important;
    border-top: 3px solid #e36209 !important;
}

/* Dropdown */

/* input box */
.Select-control {
    color: rgb(51, 47, 47);
}

.Select-menu-outer {
    background-color: #082255;
  }
