{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/font-awesome.min.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"
            integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
            crossorigin="anonymous"></script>
  </head> 
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">PowerPlan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page.home') }}">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact.index') }}">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/simulation/">Simulation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Load Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.settings') }}">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.logout') }}">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.login') }}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.signup') }}">Sign up</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      {{ flash.render() }}

      <div class="md-margin-top">{% block heading %}{% endblock %}</div>
      {% block body %}  {% endblock %}
    </main>

    <script
      src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js') }}">
    </script>
  </body>
</html>
